.pay-button {
    background-color: #00285F;
    color: white;
    width: 257.93px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pay-button h6 {
    margin: 0;
    text-transform: uppercase;
}

.pay-button:hover {
    color: white;
}

@media (min-width: 576px) {

    .pay-button {
        width: 220px;
    }
}

@media (min-width: 768px) {

    .pay-button {
        width: 307px;
    }
}

@media (min-width: 992px) {

    .pay-button {
        width: 257.31px;
    }
}

@media (min-width: 1280px) {

    .pay-button {
        width: 266px;
    }
}